{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Стоимость заказа</th>
      <th>Комментарий</th>
      <th>Ресторан</th>
      <th>Действия</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.order.pk }}</td>
        <td>{{ item.order.first_name }} {{ item.order.last_name }}</td>
        <td>{{ item.order.get_status_display }}</td>
        <td>{{ item.order.get_payment_method_display }}</td>
        <td>{{ item.order.phone_number }}</td>
        <td>{{ item.order.address }}</td>
        <td>{{ item.order.cost }} ₽</td>
        <td>{{ item.order.comment }}</td>
        <td>
        {% if item.order.selected_restaurant %}
          Выбран {{ item.selected_restaurant }}
        {% else %}
          Может приготовить:
          <ul>
            {% for restaurant in item.restaurants %}
              <li>{{ restaurant.0 }} - {{ restaurant.1|floatformat:1 }}&nbsp;км.</li>
            {% empty %}
              ---
            {% endfor %}
          </ul>
        {% endif %}

        </td>
        {% load admin_urls %}
        <td><a href="{% url 'admin:foodcartapp_order_change' item.order.id %}?next={{ next }}">Редактировать</a> </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
